In [1]:
import os
os.getcwd()

'/Users/yash'

In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv("/Users/yash/Downloads/DOB_Permit_Issuance.csv")

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (1,8,9,10,15,25,31,33,34,35,36,51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3508249 entries, 0 to 3508248
Data columns (total 60 columns):
BOROUGH                             object
Bin #                               object
House #                             object
Street Name                         object
Job #                               int64
Job doc. #                          int64
Job Type                            object
Self_Cert                           object
Block                               object
Lot                                 object
Community Board                     object
Zip Code                            float64
Bldg Type                           float64
Residential                         object
Special District 1                  object
Special District 2                  object
Work Type                           object
Permit Status                       object
Filing Status                       object
Permit Type                         object
Permit Sequence #                   int64
Permit Subtype                      object
Oil Gas                             object
Site Fill                           object
Filing Date                         object
Issuance Date                       object
Expiration Date                     object
Job Start Date                      object
Permittee's First Name              object
Permittee's Last Name               object
Permittee's Business Name           object
Permittee's Phone #                 object
Permittee's License Type            object
Permittee's License #               object
Act as Superintendent               object
Permittee's Other Title             object
HIC License                         object
Site Safety Mgr's First Name        object
Site Safety Mgr's Last Name         object
Site Safety Mgr Business Name       object
Superintendent First & Last Name    object
Superintendent Business Name        object
Owner's Business Type               object
Non-Profit                          object
Owner's Business Name               object
Owner's First Name                  object
Owner's Last Name                   object
Owner's House #                     object
Owner's House Street Name           object
Owner’s House City                  object
Owner’s House State                 object
Owner’s House Zip Code              object
Owner's Phone #                     object
DOBRunDate                          object
PERMIT_SI_NO                        int64
LATITUDE                            float64
LONGITUDE                           float64
COUNCIL_DISTRICT                    float64
CENSUS_TRACT                        float64
NTA_NAME                            object
dtypes: float64(6), int64(4), object(50)
memory usage: 1.6+ GB

In [4]:
data.isnull().sum(axis=0)

BOROUGH                                   0
Bin #                                     0
House #                                   4
Street Name                               4
Job #                                     0
Job doc. #                                0
Job Type                                  0
Self_Cert                           1274022
Block                                   499
Lot                                     508
Community Board                        4757
Zip Code                               2221
Bldg Type                             54477
Residential                         2139591
Special District 1                  3121182
Special District 2                  3439516
Work Type                            609717
Permit Status                         10813
Filing Status                             0
Permit Type                               1
Permit Sequence #                         0
Permit Subtype                      1393411
Oil Gas                             3470104
Site Fill                            417333
Filing Date                               1
Issuance Date                         19972
Expiration Date                       11143
Job Start Date                           30
Permittee's First Name                15732
Permittee's Last Name                 15748
Permittee's Business Name             48868
Permittee's Phone #                   15963
Permittee's License Type             269081
Permittee's License #                238702
Act as Superintendent               1912116
Permittee's Other Title             3236862
HIC License                         3477843
Site Safety Mgr's First Name        3481885
Site Safety Mgr's Last Name         3481861
Site Safety Mgr Business Name       3490529
Superintendent First & Last Name    1814931
Superintendent Business Name        1847714
Owner's Business Type                164588
Non-Profit                           160499
Owner's Business Name                715709
Owner's First Name                     1858
Owner's Last Name                      1553
Owner's House #                        1125
Owner's House Street Name              1369
Owner’s House City                      706
Owner’s House State                     679
Owner’s House Zip Code                 6175
Owner's Phone #                       49040
DOBRunDate                                0
PERMIT_SI_NO                              0
LATITUDE                              12258
LONGITUDE                             12258
COUNCIL_DISTRICT                      12258
CENSUS_TRACT                          12258
NTA_NAME                              12258
dtype: int64

In [5]:
data.shape

(3508249, 60)

In [6]:
data.describe()

,Job #,Job doc. #,Zip Code,Bldg Type,Permit Sequence #,PERMIT_SI_NO,LATITUDE,LONGITUDE,COUNCIL_DISTRICT,CENSUS_TRACT
count,3.508249e+06,3.508249e+06,3.506028e+06,3.453772e+06,3.508249e+06,3.508249e+06,3.495991e+06,3.495991e+06,3.495991e+06,3.495991e+06
mean,2.521092e+08,1.115809e+00,1.063692e+04,1.758554e+00,1.487494e+00,1.830680e+06,4.072517e+01,-7.394577e+01,2.011127e+01,6.392542e+03
std,1.351914e+08,4.097722e-01,6.001003e+02,4.279601e-01,1.149177e+00,1.028022e+06,7.299814e-02,8.445411e-02,1.635549e+01,2.125107e+04
min,1.000300e+08,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+01,4.049863e+01,-7.425489e+01,1.000000e+00,1.000000e+00
25%,1.204096e+08,1.000000e+00,1.002200e+04,2.000000e+00,1.000000e+00,9.508650e+05,4.068387e+01,-7.398868e+01,4.000000e+00,9.600000e+01
50%,2.401865e+08,1.000000e+00,1.045700e+04,2.000000e+00,1.000000e+00,1.835409e+06,4.073666e+01,-7.396189e+01,1.800000e+01,2.160000e+02
75%,4.005124e+08,1.000000e+00,1.122600e+04,2.000000e+00,2.000000e+00,2.718428e+06,4.076596e+01,-7.390473e+01,3.400000e+01,7.230000e+02
max,5.401627e+08,1.200000e+01,1.169700e+04,2.000000e+00,2.900000e+01,3.609482e+06,4.091371e+01,-7.370038e+01,5.100000e+01,1.579030e+05

In [7]:
data.head(5)

,BOROUGH,Bin #,House #,Street Name,Job #,Job doc. #,Job Type,Self_Cert,Block,Lot,...,Owner’s House State,Owner’s House Zip Code,Owner's Phone #,DOBRunDate,PERMIT_SI_NO,LATITUDE,LONGITUDE,COUNCIL_DISTRICT,CENSUS_TRACT,NTA_NAME
0,BRONX,2102476,200,E 135TH STREET,240249842,1,A2,Y,2319,120,...,PA,19355,6.10401e+09,03/27/2019 12:00:00 AM,3608996,40.810699,-73.931313,8.0,51.0,Mott Haven-Port Morris
1,MANHATTAN,1090833,249,WEST 14 STREET,140818435,1,A3,Y,764,10,...,NY,11101,7.18392e+09,03/27/2019 12:00:00 AM,3609359,40.739151,-74.001075,3.0,81.0,Hudson Yards-Chelsea-Flatiron-Union Square
2,MANHATTAN,1015903,20,WEST 36TH STREET,123372466,2,A2,Y,837,58,...,NY,10021,2.12249e+09,03/27/2019 12:00:00 AM,3609159,40.750090,-73.984513,4.0,84.0,Midtown-Midtown South
3,QUEENS,4467709,14-30,BROADWAY,421105618,1,A2,Y,529,2,...,NY,11101,7.18473e+09,03/27/2019 12:00:00 AM,3609358,40.765826,-73.932800,22.0,45.0,Astoria
4,QUEENS,4048873,42-06,108 STREET,421024689,1,A1,N,1986,37,...,NY,11368,7.18279e+09,03/27/2019 12:00:00 AM,3606599,40.749221,-73.858003,21.0,403.0,North Corona

In [8]:
data.columns

Index(['BOROUGH', 'Bin #', 'House #', 'Street Name', 'Job #', 'Job doc. #',
       'Job Type', 'Self_Cert', 'Block', 'Lot', 'Community Board', 'Zip Code',
       'Bldg Type', 'Residential', 'Special District 1', 'Special District 2',
       'Work Type', 'Permit Status', 'Filing Status', 'Permit Type',
       'Permit Sequence #', 'Permit Subtype', 'Oil Gas', 'Site Fill',
       'Filing Date', 'Issuance Date', 'Expiration Date', 'Job Start Date',
       'Permittee's First Name', 'Permittee's Last Name',
       'Permittee's Business Name', 'Permittee's Phone #',
       'Permittee's License Type', 'Permittee's License #',
       'Act as Superintendent', 'Permittee's Other Title', 'HIC License',
       'Site Safety Mgr's First Name', 'Site Safety Mgr's Last Name',
       'Site Safety Mgr Business Name', 'Superintendent First & Last Name',
       'Superintendent Business Name', 'Owner's Business Type', 'Non-Profit',
       'Owner's Business Name', 'Owner's First Name', 'Owner's Last Name',
       'Owner's House #', 'Owner's House Street Name', 'Owner’s House City',
       'Owner’s House State', 'Owner’s House Zip Code', 'Owner's Phone #',
       'DOBRunDate', 'PERMIT_SI_NO', 'LATITUDE', 'LONGITUDE',
       'COUNCIL_DISTRICT', 'CENSUS_TRACT', 'NTA_NAME'],
      dtype='object')

In [9]:
data = data[data['Permit Status'] == 'ISSUED']

In [10]:
data['Permit Type'].value_counts().sort_values(ascending=False)

EW    1524218
PL     692076
EQ     527128
AL     303843
NB     219031
SG      74117
DM      49559
FO      43099
Name: Permit Type, dtype: int64

In [11]:
data['Permit Type'] = data['Permit Type'].map({'EW': 'Equipment Work', 'PL': 'Plumbing',
                                            'EQ': 'Construction Equipment', 'AL': 'Alteration',
                                            'NB': 'New Building', 'FO': 'Foundation',
                                            'SG': 'Sign', 'DM': 'Demolition'})
data['Permit Type']

0                        Plumbing
1          Construction Equipment
2                  Equipment Work
3                  Equipment Work
4                      Alteration
5                        Plumbing
6                  Equipment Work
7                        Plumbing
8                      Foundation
10                 Equipment Work
11                 Equipment Work
12                 Equipment Work
13                       Plumbing
14                 Equipment Work
15                       Plumbing
16                     Foundation
17                 Equipment Work
18                 Equipment Work
19                 Equipment Work
20         Construction Equipment
21                       Plumbing
22                     Alteration
23                 Equipment Work
24                     Alteration
25         Construction Equipment
26                       Plumbing
27                   New Building
28         Construction Equipment
29                       Plumbing
30                     Alteration
                    ...
3488268                Alteration
3488269                Demolition
3488270    Construction Equipment
3488271                Demolition
3488272                Alteration
3488273    Construction Equipment
3488274    Construction Equipment
3488275    Construction Equipment
3488276            Equipment Work
3488570              New Building
3489573            Equipment Work
3490089              New Building
3490294                  Plumbing
3490463              New Building
3490727                      Sign
3490927                Alteration
3490932            Equipment Work
3491586            Equipment Work
3492974            Equipment Work
3493607    Construction Equipment
3495910            Equipment Work
3496117              New Building
3497363    Construction Equipment
3498355                  Plumbing
3498753              New Building
3500016                      Sign
3500428              New Building
3502646    Construction Equipment
3503656    Construction Equipment
3508245                  Plumbing
Name: Permit Type, Length: 3433072, dtype: object

In [12]:
data['BOROUGH'].value_counts()

MANHATTAN        1433358
BROOKLYN          795669
QUEENS            714739
BRONX             289377
STATEN ISLAND     199929
Name: BOROUGH, dtype: int64

The output represents the number of permits in different places in New York city

In [13]:
boroughs = ['BROOKLYN', 'MANHATTAN', 'QUEENS', 'STATEN ISLAND', 'BRONX'] #list of borough names to pass to for loop

for i in boroughs:
    X= data[data['BOROUGH'] == i]['Residential'].value_counts() / len(data[data['BOROUGH'] == i])
    
    print(X)

YES    0.481504
Name: Residential, dtype: float64
YES    0.260685
Name: Residential, dtype: float64
YES    0.47492
Name: Residential, dtype: float64
YES    0.602769
Name: Residential, dtype: float64
YES    0.420935
Name: Residential, dtype: float64

Borough represents the different places in New York .The output represents the percentage of Residental area in those different places.

In [14]:
data['Zip Code'].value_counts().sort_index()

0.0           48
4452.0         9
10000.0      176
10001.0    55204
10002.0    34887
10003.0    62745
10004.0    16988
10005.0    16851
10006.0     8693
10007.0    17475
10009.0    26650
10010.0    37604
10011.0    63947
10012.0    43888
10013.0    65176
10014.0    45580
10016.0    55986
10017.0    57078
10018.0    42880
10019.0    73188
10020.0     9504
10021.0    41984
10022.0    88551
10023.0    49157
10024.0    45245
10025.0    40513
10026.0    13015
10027.0    31443
10028.0    35410
10029.0    23664
           ...
11385.0    23460
11411.0     3192
11412.0     6646
11413.0    11814
11414.0     9307
11415.0     4804
11416.0     5760
11417.0     7071
11418.0     9386
11419.0    11849
11420.0    12309
11421.0     5849
11422.0     7542
11423.0     7916
11426.0     6099
11427.0     5407
11428.0     4274
11429.0     4752
11430.0      444
11432.0    21813
11433.0    12691
11434.0    16730
11435.0    14412
11436.0     5023
11691.0    18556
11692.0    12304
11693.0     6687
11694.0    10086
11695.0       15
11697.0     7909
Name: Zip Code, Length: 230, dtype: int64

The no of permits given for different Zip Codes.

In [15]:
data.shape

(3433072, 60)

In [17]:
data = data[data['Zip Code'] >= 10000]

In [18]:
data['Zip Code'].value_counts().sort_values(ascending=False).head(5)

10022.0    88551
10019.0    73188
10013.0    65176
10011.0    63947
10003.0    62745
Name: Zip Code, dtype: int64